@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row">
        <div class="col-9">
            <p class="text-secondary fs-5">Volvo gives buyers and sellers a platform to buy and sell automobiles.</p>



            <p class="text-secondary fs-5">
                We try to do our best to provide accurate information. We always update or correct any information that is not accurate. Hope you enjoy using our blog and please tell friends about our website.
            </p>


            <p class="text-secondary fs-5">
                At the request of our readers, in March of 2021, we started a car section. These cars for sale are provided by dealers as well as individuals.
            </p>

        </div>
        <div class="col-3">
            <p class="text-secondary"><span class="fa fa-envelope"></span> Email: ahmedgalalmohamed912</p>
            <p class="text-secondary"><span class="fa fa-phone"></span> Phone: 01280904213</p>
        </div>
    </div>
</div>